.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    width: 24.4px;
    height: 19.2px;
    cursor: pointer;
  }
  .notification-icon{
    width: 22.4px;
    height: 25.6px;
    gap: 0px;
  }

  .notification-box{
    position:relative;
    padding: 8px 10px 6px 10px;
    gap: 20px;
    border-radius: 6px;
    background: #E7F8FF;
    cursor: pointer;
  }
  
  .logo {
    font-size: 22.75px;
    font-weight:800;
    margin-left: 10px;
    color: #172B4D;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    width: 140px;
    height: 63px;
    gap: 20px;
  }
  
  .profile-circle {
    width: 63px;
    height: 63px;
    gap: 0px;
    cursor: pointer;
    background-color: #d3d3d3;
    border-radius: 50%;
  }
  