
.sidebar {
 
    padding: 10px 10px;
    font-family: Arial, sans-serif;
    height: fit-content;
    top: 64px;
    left: 78px;
    opacity: 0px;

  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem; 
    display: flex;
    flex-direction: column;
}

  .menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0s;
  }

  .icon {
    margin-right: 10px;
    width: 20px;  
    height: 20px; 
  }

  .menu-item.active {
    background-color: #e1f0ff; 
    border-radius: 8px;
    color: #172B4D;
    font-weight: bold;
  }

  .menu-item:hover {
    background-color:  #e0e0e0;
    color: #1f2e54;
    border-radius: 8px;
  }
  
  .badge {
    margin-left: auto;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  